Repository naestia/tower_test: changes, and which Bitbucket steps are due for each by the changed paths.
All: Plan QA, Plan Stage, Plan Prod, Deploy QA artifact to S3, Deploy Stage artifact to S3, Deploy Prod artifact to S3

Path conditions:
  Plan QA: any of: qa/**
  Plan Stage: any of: stage/**
  Plan Prod: any of: prod/**
  Deploy QA artifact to S3: any of: qa/**
  Deploy Stage artifact to S3: any of: stage/**
  Deploy Prod artifact to S3: any of: prod/**

Adding stuff
  bitbucket-pipelines.yml
Due: none

Adding stuff
  .gitignore
  bitbucket-pipelines.yml
Due: none

Adding stuff
  bitbucket-pipelines.yml
  qa/terraform.tfvars
Due: Plan QA, Deploy QA artifact to S3

Adding stuff
  qa/config.tf
Due: Plan QA, Deploy QA artifact to S3

Adding stuff
  bitbucket-pipelines.yml
  qa/config.tf
Due: Plan QA, Deploy QA artifact to S3

Adding stuff
  prod/terraform.tfvars
Due: Plan Prod, Deploy Prod artifact to S3

Adding stuff
  qa/terraform.tfvars
Due: Plan QA, Deploy QA artifact to S3

Merged in test/update-PR-comment (pull request #3)
  .gitignore
  bitbucket-pipelines.yml
  qa/config.tf
  scripts/bitbucket-request.py
  scripts/test-commits.py
Due: Plan QA, Deploy QA artifact to S3

Adding stuff
  .pike/aws_iam_role.terraform_pike.tf
  .pike/pike.generated_policy.json
  .pike/pike.generated_policy.tf
  .pike/terraform.tfstate
Due: none

Merged in test/update-PR-comment (pull request #1)
  bitbucket-pipelines.yml
  scripts/bitbucket-request.py
  scripts/get-previous-tfstate.sh
  scripts/initialize-oidc.sh
  scripts/test-commits.py
  stage/output.ansi
  stage/terraform.tfvars
Due: Plan Stage, Deploy Stage artifact to S3

Adding stuff
  stage/output.ansi
Due: Plan Stage, Deploy Stage artifact to S3

Merged in test/stages (pull request #3)
  stage/output.ansi
Due: Plan Stage, Deploy Stage artifact to S3

Adding stuff
  bitbucket-pipelines.yml
  stage/terraform.tfvars
Due: Plan Stage, Deploy Stage artifact to S3
