Repository naestia/tower_test: changes, and which Bitbucket steps are due for each by the changed paths.
All: Plan QA, Plan Stage, Plan Production, Terraform plan QA, Terraform plan Stage, Terraform plan Production

Plan QA:
  oidc: true
  script:
  - cd qa
  - export AWS_ROLE_ARN=$QA_ROLE_ARN
  - mkdir web-identity && mkdir artifacts
  - echo "Hello world" > artifacts/hello.txt
  - export AWS_WEB_IDENTITY_TOKEN_FILE=./web-identity/web-identity-token
  - echo $BITBUCKET_STEP_OIDC_TOKEN > ./web-identity/web-identity-token
  ...

Plan Stage:
  oidc: true
  script:
  - cd stage
  - export AWS_ROLE_ARN=$STAGE_ROLE_ARN
  - mkdir web-identity
  - export AWS_WEB_IDENTITY_TOKEN_FILE=./web-identity/web-identity-token
  - echo $BITBUCKET_STEP_OIDC_TOKEN > ./web-identity/web-identity-token
  - terraform init
  - terraform validate
  ...

Plan Production:
  oidc: true
  script:
  - cd prod
  - export AWS_ROLE_ARN=$PROD_ROLE_ARN
  - mkdir web-identity
  - export AWS_WEB_IDENTITY_TOKEN_FILE=./web-identity/web-identity-token
  - echo $BITBUCKET_STEP_OIDC_TOKEN > ./web-identity/web-identity-token
  - terraform init
  - terraform validate
  ...

Terraform plan QA:
  oidc: true
  script:
  - cd qa
  - mkdir web-identity && mkdir artifacts
  - export AWS_ROLE_ARN=$QA_ROLE_ARN
  - export AWS_WEB_IDENTITY_TOKEN_FILE=$(pwd)/web-identity/web-identity-token
  - echo $BITBUCKET_STEP_OIDC_TOKEN > $(pwd)/web-identity/web-identity-token
  ...

Terraform plan Stage:
  oidc: true
  script:
  - cd stage
  - mkdir web-identity && mkdir artifacts
  - export AWS_ROLE_ARN=$STAGE_ROLE_ARN
  - export AWS_WEB_IDENTITY_TOKEN_FILE=$(pwd)/web-identity/web-identity-token
  - echo $BITBUCKET_STEP_OIDC_TOKEN > $(pwd)/web-identity/web-identity-token
  ...

Terraform plan Production:
  oidc: true
  script:
  - cd prod
  - mkdir web-identity && mkdir artifacts
  - export AWS_ROLE_ARN=$PROD_ROLE_ARN
  - export AWS_WEB_IDENTITY_TOKEN_FILE=$(pwd)/web-identity/web-identity-token
  - echo $BITBUCKET_STEP_OIDC_TOKEN > $(pwd)/web-identity/web-identity-token
  ...

Adding stuff
  qa/config.tf
  qa/variables.tf
Due: Plan QA, Terraform plan QA

Adding stuff
  qa/variables.tf
Due: Plan QA, Terraform plan QA

Adding stuff
  qa/config.tf
  qa/terraform.tfvars
  qa/variables.tf
Due: Plan QA, Terraform plan QA

Adding stuff
  qa/config.tf
Due: Plan QA, Terraform plan QA

Adding stuff
  qa/terraform.tfvars
Due: Plan QA, Terraform plan QA

Adding stuff
  prod/config.tf
  qa/config.tf
  scripts/get-commit-state.sh
  stage/config.tf
Due: Plan QA, Plan Stage, Plan Production, Terraform plan QA, Terraform plan Stage, Terraform plan Production

Merged in test/getting-commits (pull request #4)
  .gitignore
  bitbucket-pipelines.yml
  prod/terraform.tfvars
  qa/config.tf
  qa/terraform.tfvars
  qa/variables.tf
  stage/terraform.tfvars
Due: Plan QA, Plan Stage, Plan Production, Terraform plan QA, Terraform plan Stage, Terraform plan Production

Adding stuff
  bitbucket-pipelines.yml
  prod/terraform.tfvars
  prod/variables.tf
  qa/terraform.tfvars
  qa/variables.tf
  stage/terraform.tfvars
  stage/variables.tf
Due: Plan QA, Plan Stage, Plan Production, Terraform plan QA, Terraform plan Stage, Terraform plan Production

Adding stuff
  .github/workflows/actions.yml
  qa/config.tf
  qa/main.tf
  qa/s3.tf
  qa/terraform.tfvars
Due: Plan QA, Terraform plan QA

Update actions.yml
  .github/workflows/actions.yml
Due: none

Update s3.tf
  qa/s3.tf
Due: Plan QA, Terraform plan QA

Adding stuff
  .github/workflows/actions.yml
  qa/iam-policy.json
Due: Plan QA, Terraform plan QA

Adding stuff
  .github/workflows/actions.yml
Due: none

Update config.tf
  qa/config.tf
Due: Plan QA, Terraform plan QA

Adding stuff
  .github/workflows/actions.yml
  qa/config.tf
Due: Plan QA, Terraform plan QA

Update variables.tf
  qa/variables.tf
Due: Plan QA, Terraform plan QA

Adding stuff
  .github/workflows/actions.yml
  qa/variables.tf
Due: Plan QA, Terraform plan QA

Adding stuff
  qa/terraform.tfvars
  qa/variables.tf
Due: Plan QA, Terraform plan QA

Path conditions:
  Plan QA: any of: qa/**
  Plan Stage: any of: stage/**
  Plan Production: any of: prod/**
  Terraform plan QA: any of: qa/**
  Terraform plan Stage: any of: stage/**
  Terraform plan Production: any of: prod/**
